@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

.nav-li {
  @apply cursor-pointer hover:bg-gray-200 p-2 transition-all duration-200 rounded-md;
}
