@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

.nav-li {
  @apply cursor-pointer hover:bg-gray-200 dark:hover:bg-primary p-2 transition-all duration-200 rounded-md;
}

.btn-inset {
  transition: ease-out 0.3s;
}
.btn-inset:hover {
  box-shadow: inset 180px 0 0 0 #e3e2ff;
  color: black;
}

.grid-qualification {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.skill-logo {
  @apply h-16 w-16 md:h-24 md:w-24 border-2 sm:border-8 border-black shadow-xl dark:border-light bg-light rounded-full px-1 hover:scale-110 transition-all duration-200 ease-in-out object-contain;
}
